In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns

In [3]:
news = pd.read_csv('C:/Users/lenovo/Downloads/Real_fake_news.csv')

In [4]:
news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4870 entries, 0 to 4869
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       4870 non-null   int64
 1   Unnamed: 0.1     4870 non-null   int64
 2   author           4870 non-null   object
 3   statement        4870 non-null   object
 4   source           4870 non-null   object
 5   target           4870 non-null   bool
 6   BinaryTarget     4870 non-null   object
 7   BinaryNumTarget  4870 non-null   int64
dtypes: bool(1), int64(3), object(4)
memory usage: 271.2+ KB

In [6]:
news.shape

(4870, 8)

In [7]:
news.head(10)

,Unnamed: 0,Unnamed: 0.1,author,statement,source,target,BinaryTarget,BinaryNumTarget
0,0,0,Jill Terreri,"New York is ""leading the nation with the lowes...",NYS Department of Corrections and Community Su...,True,REAL,1
1,1,1,Eleanor Hildebrandt,“Iowa ranks 45th in the U.S. for internet conn...,Cindy Axne,True,REAL,1
2,2,2,Emily Zirkelbach,“FUN FACT: West Virginia is home to zero billi...,David Gura,True,REAL,1
3,3,3,Madeline Heim,Says gubernatorial candidate Rebecca Kleefisch...,Kelda Helen Roys,True,REAL,1
4,4,4,Sabine Martin,"The Biden administration ""published a study co...",Randy Feenstra,True,REAL,1
5,5,5,Andy Nguyen,"""Southwest Airlines announce they will no long...",Facebook posts,True,REAL,1
6,6,6,Laura Schulte,“The annual Pentagon budget hovers over $750 b...,Mark Pocan,True,REAL,1
7,7,7,Emma Copley,“If you look at the hospitalizations at Ruby M...,Kathryn Moffett Bradford,True,REAL,1
8,8,8,John Brumley,“Overdose deaths in WV are up 45% from the pri...,David McKinley,True,REAL,1
9,9,9,D.L. Davis,"The GOP-controlled Legislature has ""refused to...",Chris Larson,True,REAL,1

In [9]:
news.drop(['Unnamed: 0','Unnamed: 0.1','statement','target','BinaryNumTarget'], axis=1, inplace= True)

In [10]:
news.head()

,author,source,BinaryTarget
0,Jill Terreri,NYS Department of Corrections and Community Su...,REAL
1,Eleanor Hildebrandt,Cindy Axne,REAL
2,Emily Zirkelbach,David Gura,REAL
3,Madeline Heim,Kelda Helen Roys,REAL
4,Sabine Martin,Randy Feenstra,REAL

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le = LabelEncoder()

In [13]:
news['author'] = le.fit_transform(news['author'])
news['source'] = le.fit_transform(news['source'])
news['BinaryTarget'] = le.fit_transform(news['BinaryTarget'])

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
ss = StandardScaler()

In [16]:
x = news.iloc[:,0:2]
y = news.iloc[:,2]

In [17]:
x

      author  source
0        128    1035
1         82     247
2         87     321
3        186     791
4        252    1153
...      ...     ...
4865      34     135
4866     215     622
4867     161     443
4868     192     135
4869      34     135

[4870 rows x 2 columns]

In [18]:
y

0       1
1       1
2       1
3       1
4       1
       ..
4865    0
4866    0
4867    0
4868    0
4869    0
Name: BinaryTarget, Length: 4870, dtype: int32

In [19]:
ss.fit(x)

StandardScaler()

In [20]:
x = ss.transform(x)

In [21]:
x

array([[-0.19770118,  0.68857958],
       [-0.67634097, -1.05059622],
       [-0.6243149 , -0.8872726 ],
       ...,
       [ 0.14567084, -0.61800934],
       [ 0.46823244, -1.29778872],
       [-1.17579118, -1.29778872]])

In [22]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [47]:
knn = KNeighborsClassifier(n_neighbors=14, metric='euclidean')
knn.fit(x_train, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=14)

In [48]:
y_pred = knn.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7905544147843943

In [38]:
from sklearn.tree import DecisionTreeClassifier as dtree
ct = dtree(
           criterion="entropy",    # Alternative 'gini'
           max_depth=None       # Alternative, specify an integer
                              # 'None' means full tree till single leaf
           )
ct.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [39]:
y_te = ct.predict(x_test)

In [40]:
accuracy_score(y_test,y_te)

0.8613963039014374

In [41]:
from sklearn.tree import DecisionTreeClassifier as dtree
ct = dtree(
           criterion="gini",   
           max_depth=None       # Alternative, specify an integer
                              # 'None' means full tree till single leaf
           )
ct.fit(x_train,y_train)

DecisionTreeClassifier()

In [42]:
y_tes = ct.predict(x_test)
accuracy_score(y_test,y_tes)

0.8583162217659137

In [43]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)
clf.fit(x_train,y_train)

y_pred1=clf.predict(x_test)
accuracy_score(y_test,y_pred1)

0.8675564681724846

In [44]:
# Here we can see that Random Forest Classifier has the most accuracy followed by Decision Tree classifier